<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="true">
    <property name="pattern" value="[%d{yyyy-MM-dd_HH:mm:ss.SSS, GMT}][%thread][%-5level] %-35caller - [%category] %msg%n" />

    <conversionRule conversionWord="caller" converterClass="com.forcs.eformbot.common.log.converter.CallerConverter" />
    <conversionRule conversionWord="category" converterClass="com.forcs.eformbot.common.log.converter.CategoryConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <shutdownHook class="com.forcs.eformbot.common.log.hook.CustomDelayingShutdownHook" />

    <appender name="ROLLING-system" class="com.forcs.eformbot.common.log.appender.CustomRollingFileAppender">
        <file>log/system.txt</file>
        <category>system</category>
        <rollingPolicy class="com.forcs.eformbot.common.log.policy.CustomSizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/system-%d{yyyy-MM-dd_HH-mm-ss}.%i.txt</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING-user" class="com.forcs.eformbot.common.log.appender.CustomRollingFileAppender">
        <file>log/user.txt</file>
        <category>user</category>
        <rollingPolicy class="com.forcs.eformbot.common.log.policy.CustomSizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/user-%d{yyyy-MM-dd_HH-mm-ss}.%i.txt</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ROLLING-system" />
        <appender-ref ref="ROLLING-user" />
    </root>
</configuration>